*~
*.hi
*.o
*.o.cmd
*.ko
*.ko.cmd
*.mod.c
*.bak
*.BAK
*.orig
*.swp
.svn
*.dylib
*.user
*.xcodeproj

# Mac OS X metadata
._*
.DS_Store
.AppleDouble
:2e_*

*.app
*.moc
*.obj
*.rcc
moc_*.cpp
ui_*.h
Makefile
*.supp

/tmtags
/conf.log
/conf.pri
/yachat
/yapsi_revision

/mac/template.dmg
/mac/template.dmg.bz2
/mac/wc.dmg

*kdevelop*
*.kdevses

