[Desktop Entry]
Name=QTfs
Comment=Sicherungsprogramm
Exec=sudo qt4-fsarchiver
Icon=qt4-fsarchiver.png
Terminal=true
Type=Application
Categories=Qt;System;Filesystem;
StartupNotify=true
